
p {
    padding: 0;
    margin: 0; 
}

.wrapper {
    border: 1px solid;
    display: inline-block;
    vertical-align: top;
}

.note-editable {
    height: 300px;
    width: 600px;
    overflow: auto;
}

.preview {
    height: 300px;
    width: 600px;
    overflow: auto;
}
